
<ul>
    <li><a  routerLink='Profile'>Profile</a></li>
    <li><a routerLink='Previous Booking'>Previous Booking</a></li>
    <li><a routerLink='Changepassword'>Change Password</a></li>
    <li><a routerLink='Wallet'>Wallet</a></li>
    <li><a routerLink='Home'>Book Bus</a></li>
  </ul>
  <div class="container" >
    <div class="row justify-content-center">
      <div class="col-md-10 ticket ">
          <h6 class="text-center pt-3 pb-3 "> Online Reservation      </h6>
          <table class="table ">
     <thead>
      <td class="text-capitalize"><span> <i class="fas fa- arrow-right"></i></span> </td>
      <td>DD/MM/YYYY</td>
      <td>LTI Travels</td>
     </thead>  
          </table>
          <table class="table ps_details">
            <tr>
              <th>Passenger Detail</th>
              <th>Booking Id</th>
              <th>Seats</th>
              <th>Total Fare</th>
            </tr>
            <tr>
              <td><b></b> <br>
                <span></span> <br>
                <span></span>
              </td>
              <td></td>
              <td>
              </td>
            </tr>
          </table>
          <table class="table ps_details ">
            <tr>
              <th>Bus Name</th>
              <th>Reporting Time </th>
              <th>Departure Time</th>
              
            </tr>
            <tr>
            
              <span> <em>Coach Type: AC </em> </span>
            
              <td>Before 30 mints</td>
              <td></td>
            </tr>
          </table>
      </div>
      <div class="row">
        <p style="color:red">** Please Bring this copy to ticket counter for collect your ticket </p>
      </div>
    </div>
  </div>
  
  
  