<div class="container" style="margin-top:8%">
    <div class="panel-heading">
               <div class="col-lg-8">
                   <h4 style="color: black;">Choose seats by clicking the corresponding seat in the layout below:</h4>
               </div>
               <div class="col-lg-2"><a href="#" style="padding: 5px;" class="btn btn-success" id="hrefBackUrl" runat="server" title="Back To Search List"><i class="fa fa-backward"></i>&nbsp;Back To Search List</a></div>
           </div>
           <br />
           <div class="panel-body">
               <div class="col-lg-8">
                   <table runat="server">
                       <tr>
                           <td style="color:black;font-size:large">Front</td>
                           <td style="margin-left:5%">
                               <div id="holder" style="border:none;color:white;overflow:auto">
                                   <ul id="place" style="margin-top:30%">
                                   </ul>
                               </div>
                           </td>
                           <td style="color:black;font-size:large">Rear</td>
                       </tr>
                   </table>

                   <div style="margin-top: 10px;overflow:auto">
                       <ul id="seatDescription">
                           <li ><img src="assets/newAvailableSeat.png">Available Seat</li>
                           <!-- <li style="background: url('assets/bookedseats.png') no-repeat scroll 0 0 transparent; width: 25%; height: 30%; color: white">Booked Seat</li>
                           <li style="background: url('assets/newSelectedSeat.png') no-repeat scroll 0 0 transparent; width: 25%; height: 30%; color: white">Selected Seat</li> -->
                       </ul>
                   </div>
                   <div style="clear: both; width: 100%; margin-top: 70px;">
                       <input type="button" id="btnShowNew" value="Show Selected Seats" />
                       <input type="button" id="btnShow" value="Show All" />
                   </div>
               </div>
               <div class="col-lg-4" style="overflow:auto">
                   <div class="panel panel-danger">
                       <div class="panel panel-heading">
                           <div class="panel panel-title">
                               <h2>Journey  Details </h2>
                           </div>
                       </div>
                       <div class="panel-body">
                           Onward Journey
                   From
                   <Label ID="lblForm" runat="server" Font-Bold="true"></Label>
                           To 
                   <Label ID="lblTo" runat="server" Font-Bold="true" ></Label><br />
                           on
                   <Label ID="lbldate" runat="server" Font-Bold="true"></Label><br />
                           <br />
                           <div class="col-lg-12">
                               <table class="table-bordered">
                                   <tr>
                                       <td>Selected Seat No</td>
                                       <td><label id="lblSelectedSeat"></label>
                                       <Label id="lblSelectedSeat"  Font-Bold="true"></Label></td>
                                           
                                        
                                      <!-- <asp:HiddenField ID="hdnSeatNo" runat="server" ClientIDMode="Static" />
                                       <asp:HiddenField ID="hdnSeatCount" runat="server" ClientIDMode="Static" />
                                       <asp:HiddenField ID="hdnSeatTypeID" runat="server" ClientIDMode="Static" />
                                       <asp:HiddenField ID="hdnFare" runat="server" ClientIDMode="Static" />
                                       <asp:HiddenField ID="hdnTotalFare" runat="server" ClientIDMode="Static" />-->
                                   </tr>
                                    <tr>
                                       <td>Per Seat Fare</td>
                                       <td><span><i class="fa fa-rupee"></i></span>
                                           <Label id="lblPerSeat"  Font-Bold="true" Text="0.00" ></Label>
                                           </td>
                                            <label id="lbltotal">0.00</label>
                                   </tr>
                                   <tr>
                                       <td>Amount</td>
                                       <td><span><i class="fa fa-rupee"></i></span>
                                           <Label id="lbltotal"  Font-Bold="true" Text="0.00" ></Label>
                                           </td>
                                           <label id="lbltotal">0.00</label>
                                   </tr>
                               </table>
                           </div>
                           <div style="margin-top: 5%" class="col-lg-12">
                               <Label id="lblBoardingPoint"  Font-Bold="true" Text="Boarding Points"></Label>
                               <ul ID="ddlBoardingpoints"  Style="width: 100%"></ul><br />
                               <br />
                               <Label ID="lblDroppingPoints"  Font-Bold="true" Text="Dropping Points" Style="display: none"></Label>
                               <ul ID="ddlDroppingpoints"  Style="display: none; width: 70%">
                                   <li Value="0" Text="Select Dropping Point"></li>
                               </ul><br />
                               <br />
                               <input type="button" id="submit" value="Pay" routerLink='Payment'>
                               <!--<input type="button" ID="btnPayment" runat="server" Text="Make Payment" CssClass="btn btn-danger" OnClick="btnPayment_Click" ClientIDMode="Static" />-->
                           </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
                        
                   
               
        


